* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 24px;
    align-items: center;
}

.link {
    color: white;
}

.active-link {
    color: #69b1ff;
}

.active-link::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: #69b1ff;
    width: 100%;
}

.demo-logo {
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
    }
}

.carousel-slide-custom {
    width: 100vw;
    height: calc(100vh - 64px);
    position: relative;

    overflow: hidden;

    &>img {
        width: 100%;
        filter: brightness(0.6);
    }

    &>.carousel-slide-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white
    }
}

.product-price {
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
}

.featured-products-sections {
    margin-top: 40px;
}